
body{
	background: url(../img/background.jpg);
	font-family: 'Tahoma', cursive;
    font-size: 12.5pt;
    padding: 10px;
    margin: 0;
}

header{
	background: black;
	padding: 10px;
    border-radius: 10px;
    font-family: 'Tahoma', cursive;
    font-size: 12.5pt;
	color: white;
}

header li{
	display: inline-block;
	color:white;
	margin-right:20px;
	margin-left:10px;
}

header .right{
	float:right;
}

main {
	background: aliceblue;
	padding: 20px;
	border: 1px solid #e4e4e4;
	border-bottom: none;
	color:black;
    border-radius: 10px;
	font-family: 'Tahoma', cursive;
	font-size: 12.5pt;

}

h1{
	font-size: 25px;
	line-height: 20px;
}





}

form{
	width: 40%;
	margin: auto;
	margin-top: 50px;
}

form input{
	width:100%;
	padding:10px;
	padding-left:15px;
	margin-bottom:10px;
	border:1px solid #abc8e0;
}

form input:valid{border:1px solid #57bf3c;}

form textarea{
	width:100%;
	padding:10px;
	padding-left:15px;
	margin-bottom:10px;
	border:1px solid #abc8e0;
}

form textarea:valid{border:1px solid #57bf3c;}

form button{
	align-content: center;
	background:black;
	padding:10px;
	color:#fff;
	border:none;
	width:100%;
}

form button:hover{
	background:#61abea;
	transition: all linear .25s;
	-webkit-transition: all linear .25s;
}

